<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <style media = 'screen'>
            h1{
                color:red;
            }
        </style>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
    <h1> Welcome to dajngo template Demo</h1><hr>
    <h2>{{insert_msg}}</h2>
    <h2> Now the server time is : {{insert_date}}</h2> 
    <ol>
        <li> Name : {{name}}</li>
        <li> Roll_no : {{roll_no}}</li>
        <li> Marks : {{marks}}</li>
    </ol>
        <script src="" async defer></script>
    </body>
</html>